{% extends 'base.html' %}

{% block content %}
<h1>Car Borrow Kiosk</h1>

<div class="home-grid">
    <a href="{% url 'borrow_list' %}" class="tile home-tile borrow">
        <span class="icon">🚗</span>
        Borrow a Car
    </a>
    <a href="{% url 'reserve_list' %}" class="tile home-tile reserve">
        <span class="icon">📅</span>
        Reserve for Later
    </a>
    <a href="{% url 'return_list' %}" class="tile home-tile return">
        <span class="icon">🔑</span>
        Return a Car
    </a>
</div>
{% endblock %}